@mixin link-colors($r, $g, $b) {
  color: rgb($r, $g, $b);
  &:hover, &:visited, &:active{
    color: rgba($r, $g, $b, 0.8);
  }
}
@mixin link-colors-rgba($r, $g, $b, $a) {
  color: rgb($r, $g, $b);
  &:hover, &:visited, &:active{
    color: rgba($r, $g, $b, $a);
  }
}


/* nav */
div.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eee;
  background-color: #fff;
  z-index: 99;
  font-size: 1.2rem;
  a {
    line-height: 3rem;
    @include link-colors(4, 105, 148);
    text-align: center;
    border-top: 1px solid #046994;
    &:nth-child(1) {
      border-right: 1px solid #046994;
    }
  }
}

div.major-detail-box {
  margin: 12px 0;
  color: #0095e2;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  p {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    font-size: 1.05rem;
  }
  div.major-name {
    font-size: 1.4rem;
    line-height: 4rem;
  }
  div.ordered-val-box {
    font-weight: 600;
  }

  div.ordered-detail-box {
    div.ordered-title {
      margin: 0 1rem;
      border-top: 1px solid #ccc;
      color: #F26516;
      font-size: 1.1rem;
      div {
        line-height: 2.5rem;
        text-align: center;
      }
    }
  }
  div.class-detail-box {
    padding: 10px;
    table {
      margin: 0px;
    }
    td, th {
      line-height: 2.2rem;
      border-width: 0px;
      text-align: center;
      color: #000;
    }
    td.contact {
      color: #101010;
    }
    td.statistics {
      color: #1aaba8;
    }
    td.ordered {
      color: #0095e2;
    }
    td.problem {
      color: #e51c23;
    }
    td.difficult {
      color: #999;
    }
  }
}

div.cover {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgb(246, 248, 249);
}

div.subject-stat {
  position: fixed;
  left: 0;
  top: 5rem;
  z-index: 111;
  display: none;
  width: 100%;
  max-height: 25rem;
  overflow-y: scroll;
  padding: 10px 6px;
  background-color: #fff;
  table {
    margin-bottom: 0px;
  }
  table td, table th {
    border-width: 0;
    text-align: center;
  }
}